
*{
    padding: 0;
    margin: 0;

}
.letter_s path {
    fill: white;
}

.letter_p path {
    fill: white;
}

.letter_a polygon {
    fill: white;
}

.letter_c path {
    fill: white;
}

.letter_e polygon,
.letter_e rect {
    fill: white;
}

.letter_x path {
    fill: white;
}

.letter_swoosh path {
    fill: white;
}
/* Update the existing styles for the logo */
.spaceXLogo {
    max-width: 80%; /* Ensure the logo doesn't exceed the width of its container */
    height: auto; /* Maintain the aspect ratio while scaling */
    margin-left: 10px; /* Adjust the margin as needed */
}

/* Add this CSS rule to ensure the SVG inside the logo is responsive */
#spaceXLogo svg{
    width: 350px;
}

 #logo svg {
    display: block;
    width: 100%;
    height: auto;
}

/* Adjust other styles as needed for responsiveness */


  /*header*/
  .bg-img {
   
    background-image: url("sp-pic1.jpgk"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: rgb(167, 27, 27);
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(4, 4, 4);
    color:black;
  }
  .nav-link{
    color: white;
  }

/*/section codents/*/

.start-1 {
    left: 85px;
}
.bottom-1{
    bottom: 155px;
}
.start-2 {
    left: 85px;
}
.bottom-2{
    bottom: 155px;
}
.start-3 {
    left: 85px;
}
.bottom-3{
    bottom: 155px;
}
.start-4 {
    left: 85px;
}
.bottom-4{
    bottom: 155px;
}
.start-5 {
    left: 85px;
}
.bottom-5{
    bottom: 155px;
}
.footer{
    color: rgb(251, 253, 254);
    
}
.footer a{
    /* margin-left: 20px; */
    font-weight: 500;
    font-size: small;
}
